<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WiCopter WebUI</title>
    <?php $this->assets->outputCss(); ?>
    <style>
        body {
            padding: 40px;
        }

        #map {
            height: 480px;
            width: 640px;
        }

        #console {
            color: #999;
            background-color: #000;
            height: 200px;
            padding: 5px;
            color: #eee;
        }

        #console_input {
            width: 100%;
            background-color: #101010;
            color: #eee;
            border: 0;
            outline: hidden;
            border-top: 1px solid #fff;
            padding: 5px;
        }

        .console_line {

            padding: 3px;
        }

        .console_system {

            background-color: #004e00;
        }

        .console_receive {

            background-color: #0a004e;
        }

        .console_error {
            background-color: #4e0400;

        }

        .time {
            color: #888;
        }

        .console_separator {
            color: #aaa;
        }
    </style>
</head>
<body>
<div></div>
<div class="container" style="width: 80%;">
    <div class="page-header">
        <h1>WiCopter
            <small>WebUI</small>
        </h1>
    </div>

    <div class="row">

        <div class="col-lg-6">


            <div class="panel panel-default">
                <div class="panel-heading">Mapa</div>
                <div class="panel-body">
                    <div id="map" style="margin:0 auto;"></div>
                    <script>
                        function initMap() {
                            var uluru = {lat: -25.363, lng: 131.044};
                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 4,
                                center: uluru
                            });
                            var marker = new google.maps.Marker({
                                position: uluru,
                                map: map
                            });
                        }


                    </script>
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL3sK2SBRAPjLzsY0_hLIsrj-gWOJ4-ak&callback=initMap"></script>
                </div>
            </div>

        </div>
        <div class="col-lg-6" style="">
            <div class="panel panel-default">
                <div class="panel-heading">Kamera</div>
                <div class="panel-body" style="text-align: center;">
                    <img src="https://dummyimage.com/640x480/000/fff.png&text=webcam+image" alt="webcam image">
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Sterowanie</div>
                <div class="panel-body"></div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Konsola</div>
                <div class="panel-body" id="console"></div>
                <div>
                    <input type="text" id="console_input" style="">
                </div>

            </div>
        </div>
    </div>


</div>
<?php $this->assets->outputJs(); ?>
</body>
</html>
